# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* Lists of popular programming languages used in Data Science
* Examples of some commonly used libraries used by Data Scientists
* List of open sources tools used for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R Programming
3. Java
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow
5. Keras

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
|     RStudio        |
|  Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

time_in_minutes = 200
hour = 60
time_in_hours = time_in_minutes / hour
print(f"{time_in_minutes} minutes equals {round(time_in_hours, 2)} hours.")

200 minutes equals 3.33 hours.

## Author: 

Gabriel